$background-color: #eee;
$h-full: calc(100vh - 60px);
$purple: rgb(255, 0, 212);
$blue-dark: rgb(0, 94, 218);
$navbar-link-color: #8686c0;
$navbar-link-hover-color: #ccccff;
$blue: rgb(36, 131, 255);
$blue-light: rgb(116, 169, 238);
$active-link-color: #000000;
$go-home: $blue-dark;

input[type="checkbox"] {
  color: $blue;
  cursor: pointer;
  border-radius: 5px;
}

input[type="range"] {
  cursor: pointer;
}

.unit-section-title {
  color: $blue-dark;
}

.goHome {
  color: $go-home;
  text-decoration: underline;
  cursor: pointer;
  font-size: 24px;
  margin: 3px 0;
}